@mixin btnColor ($bgcolor,$bordColor ){
	background: $bgcolor;
	border-color: $bordColor;
}

.btn{
	height: 38px;
	font-size: 14px;
	line-height: 1.8;
	&.btn-primary{
		@include btnColor($active-color,$active-color);
	}
	&.btn-light{
		@include btnColor($white, $primary-border);
		color: $primary-color;

	}
	i{font-size: 20px;width: 20px;height: 20px;display: inline-flex;}
}
.btn-success-light{@include btnColor($green-light, $green-light);}