$primary:        #1665d8;
$primary-light:  #bbdefb;
$accent:         #ffc107;
$secundary-text: #737373;
$primary-text:   #333333;
$danger:         #f44336;
$light: #F0f0f0;

$box-size:    20px;
$check-size:  1.2rem;
$border-size: 1px;

// CHECKBOX
.material-checkbox {
  color:         $primary-text;
  position:      relative;
  margin-bottom: .8rem;
  label {
    color:          inherit;
    cursor:         pointer;
    display:        inline-block;
    position:       relative;
    font-size:      14px;
    user-select:    none;
    font-weight:    400;
    vertical-align: middle;
    &:before {
      width:            $box-size;
      height:           $box-size;
      border:           $border-size solid rgba(0,0,0, .45);
      margin:           0;
      content:          '';
      display:          inline-block;
      transition:       all .3s ease;
      user-select:      none; 
      will-change:      background-color, border-color;
      margin-right:     $box-size / 2;
      border-radius:    .3rem;
      vertical-align:   middle;
      background-color: white;
    }
    &:after {
      top:                $box-size / 2;
      left:               $box-size - 11px;
      width:              12px;
      border:             2px solid white;
      height:             7px;
      content:            '';
      position:           absolute;
      transform:          scale(0, 0) rotate(-90deg) translateZ(0);
      transition:         all .2s ease;
      will-change:        transform;
      transform-origin:   bottom left;
      border-top-style:   none;
      border-right-style: none;
    }
  }
  input[type=checkbox] {
    display: none;
    &:checked {
      + label {
        &:before { background-color: $primary; border-color: $primary; }
        &:after {
          transform: scale(1, 1) rotate(-45deg) translateZ(0);
        }
      }
    }
  }
  .message {
    color:       inherit;
    font-size:   1.4rem;
    margin-left: $box-size + ($box-size / 2) + ($border-size * 2);
  }
  &.has-error {
    color: $danger;
    label:before { border-color: $danger; }
    span { display: block; }
    input[type=checkbox]:checked + label {
        &:before { background-color: $danger; border-color: $danger; }
    }
  }
}

// RADIO
.material-radio {
  color:         $primary-text;
  position:      relative;
  margin-bottom: .8rem;
  label {
    color:          inherit;
    cursor:         pointer;
    display:        block;
    position:       relative;
    font-size:      1.6rem;
    user-select:    none;
    font-weight:    400;
    vertical-align: middle;
    // OUTER CIRCLE
    &:before {
      width:            $box-size;
      border:           $border-size solid rgba(0, 0, 0, .45);
      height:           $box-size;
      content:          '';
      display:          inline-block;
      transition:       all .3s ease;
      will-change:      background-color, border-color;
      user-select:      none; 
      margin-right:     $box-size / 2;
      border-radius:    50%;
      vertical-align:   middle;
      background-color: white;
    }
    // INNER CIRCLE
    &:after {
      top:              ($box-size / 2) + $border-size;
      left:             ($box-size / 2) + $border-size;
      width:            $box-size - .3;
      height:           $box-size - .3;
      content:          '';
      position:         absolute;
      transform:        translate(-50%, -50%) scale(0, 0) translateZ(0);
      transition:       all .2s ease;
      will-change:      transform;
      border-radius:    50%;
      background-color: rgba(0, 0, 0, .45);
    }
  }
  input[type=radio] {
    display: none;
    &:checked {
      + label {
        &:before { border-color: $primary; }
        &:after {
          transform:        translate(-50%, -50%) scale(1, 1) translateZ(0);
          background-color: $primary;
        }
      }
    }
  }
  .message {
    color:       inherit;
    display:     block;
    font-size:   1.4rem;
    margin-left: $box-size + ($box-size / 2) + ($border-size * 2);
  }
  &.has-error {
    color: $danger;
    label:before { border-color: $danger; }
    span { display: block; }
    input[type=radio]:checked + label {
        &:before { border-color: $danger; }
        &:after { background-color: $danger; }
    }
  }
}

// pagination

.pagination{
  display: inline-flex;
  width: auto;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #d8dce6;
  padding: 2px;
  margin: 0;
  li {
    a {
        width: 35px;
        height: 35px;
        border-radius: 3px;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        //border: 1px solid #b8bdc8;
        margin: 0 2px;
        color: #2c2d31;
        text-decoration: none!important;
    }
    &.active {
        a{
          background: #1665d8;
          color: #fff!important;
          border-color: #1665d8;
        }
    }
  }
}