@font-face {
  font-family: 'fontello';
  src: url('/icon-fonts/fontello.eot?86846048');
  src: url('/icon-fonts/fontello.eot?86846048#iefix') format('embedded-opentype'),
       url('/icon-fonts/fontello.woff2?86846048') format('woff2'),
       url('/icon-fonts/fontello.woff?86846048') format('woff'),
       url('/icon-fonts/fontello.ttf?86846048') format('truetype'),
       url('/icon-fonts/fontello.svg?86846048#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-left-orders:before { content: '\e800'; } /* '' */
.icon-left-o-site-modules:before { content: '\e801'; } /* '' */
.icon-left-settings:before { content: '\e802'; } /* '' */
.icon-left-coupon:before { content: '\e803'; } /* '' */
.icon-left-dashboard:before { content: '\e804'; } /* '' */
.icon-left-incomplete:before { content: '\e805'; } /* '' */
.icon-left-logo:before { content: '\e806'; } /* '' */
.icon-left-logs:before { content: '\e807'; } /* '' */
.icon-left-store:before { content: '\e808'; } /* '' */
.icon-left-templates:before { content: '\e809'; } /* '' */
.icon-left-users:before { content: '\e80a'; } /* '' */
.icon-nav-search:before { content: '\e80b'; } /* '' */
.icon-nav-comment:before { content: '\e80c'; } /* '' */
.icon-dash-download:before { content: '\e80d'; } /* '' */
.icon-arrow-right:before { content: '\e80e'; } /* '' */
.icon-upload:before { content: '\e80f'; } /* '' */
.icon-user-edit:before { content: '\e819'; } /* '' */
.icon-user-filter:before { content: '\e81a'; } /* '' */
.icon-user-notes:before { content: '\e81b'; } /* '' */
.icon-user-delete:before { content: '\e81c'; } /* '' */
.icon-user-money:before { content: '\e824'; } /* '' */
.icon-user-invoice:before { content: '\e825'; } /* '' */
.icon-user-details:before { content: '\e826'; } /* '' */
.icon-user-reset-arrow:before { content: '\e82e'; } /* '' */
.icon-copy-address:before { content: '\e83b'; } /* '' */
.icon-user-link:before { content: '\e83c'; } /* '' */
.icon-user-mail:before { content: '\e83d'; } /* '' */
.icon-close-cross:before { content: '\e859'; } /* '' */
