.left-panel{
	width: 270px;
	border-right: 1px solid $primary-border ;
	background-color: $white;
	min-height: 100vh;
	.logo-space{
		height: 70px;
		padding: 0 19px 0 30px;
		border-bottom: 1px solid $primary-border ;
		.brand-name{
			font-size: $size16;
		  	font-weight: 500;
		  	line-height: 1.5;
		  	color: $primary-color;
		}
		i{color: $active-color;}
 	}
 	
 	[class^="icon-left-"]{
 		font-size: $size20;
 		margin-right: $size16;
 	}

 	.left-menu-content{
 		.menu-head{
 			height: 60px;
 			font-size: $size14 - 2;
 			text-transform: uppercase;
 			font-weight: 500;
 			color: $secondary-color;
 			padding-left: 30px;
 		}
 		ul{
 			li{
 				display: block;
 				
 				font-size: 14px;
 				font-weight: 500;
 				color: $primary-color;
 				position: relative;
				display: flex;align-items: center;
				flex-wrap: wrap;
				 a{display: flex;align-items: center;width: 100%;color: $primary-color;text-decoration: none;
					padding-left: 30px;
					padding-right: 19px;
					padding-top: 5px;
					padding-bottom: 5px;
					position: relative;
					min-height: 46px;
					&.active{
						color: $active-color;
						&:before{
							content: '';
							position: absolute;
							left: 0;
							height: 100%;
							width: 5px;
							top: 0;
							background-color: $active-color;
						}
						i{
							color: $active-color;
						}
					}
				}
 				
 				i{color: $secondary-color;}
 				
 				&.nav-item-open{
 					border: 0.5px solid $active-border;
					color: $active-color;
					background: #f6f9fd; 
 					i{color: $active-color;}
					a{
						color: $active-color;
						&:before{
							content: '';
							position: absolute;
							left: 0;
							height: 100%;
							width: 5px;
							top: 0;
							background-color: $active-color;
						}
					}
					ul{
						li{
							a{
								color: $primary-color;
								&.active{
									color: $active-color;
								}
							}
						}
					}

				 }
				 .left-submenu{
					 display: none;
					 li{
						 a{
							 padding-left: 65px;
						 }
					 }
				 }
 			}
 		}
 	}
}

/*sort-arrow*/
.has-sort{
	position: relative;
	margin-left: auto;
	&:before,
	&:after {
		border: 4px solid transparent;
		content: "";
		display: block;
		height: 0;
		right: 10px;
		top: 50%;
		position: absolute;
		width: 0;
	}
}
.has-sort:before {border-bottom-color: $secondary-color;margin-top: -9px;}
.has-sort:after {border-top-color: $secondary-color;margin-top: 1px;}
/*sort-arrow*/

