.login-page-container{
    min-height: 100vh;
    .login-view{
        max-width: $size20 * 21;
        padding: $size20;
        border: 1px solid;
        border-color: $primary-border;
        border-radius: $size20 - 10px;
        width: 100%;
        .logo-area {
            color: $active-color;
            font-size: $size20;
            font-weight: 600;
            margin-bottom: 15px;
        }
        h4{
            font-size: $size20;
        }
    }
}