@import 'variables';
.right-panel{
	width: calc(100% - 270px);
	nav{
		min-height: 70px;
		display: flex; align-items: center;
		border-bottom: 1px solid $primary-border;
		padding-left: 22px;
		background-color: $white;
		.page-name{
			font-size: $size22;
			font-weight: 500;
			line-height: 1.45;
			color: $primary-color;
			.sub-page-name{
		  		font-size: $size14;
		  		line-height: 1.8;
		  		color: $secondary-color;
		  		font-weight: normal;
		  	}
		}
		.nav-right-links{
			ul{
				li{
					display: inline-block;
					padding: 0 8px;
					position: relative;
					.user-img {
					    width: 38px;
					    height: 38px;
					    display: block;
					    border-radius: 100%;
					    overflow: hidden;
					}
					i{color: $secondary-color;font-size: 20px;}
					.c-badge{
						width: 20px;height: 20px;display: flex;justify-content: center;align-items: center;border-radius: 100%;
						position: absolute;right: 0px;top: -8px;background-color: #ff0000;color: $white;
						font-size: 12px;font-weight: 500;
					}
				}
			}
		}
	}
	.content{
		padding: 20px 25px;
		.card{
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
			border: 1px solid $primary-border;
			min-height: 100%;
			.card-header-content{
				min-height: 51px;
				border-bottom: 1px solid $primary-border;
				padding: 0 20px;
				.card-title{
					font-size: $size18;
					line-height: 1.78;
					font-weight: 500;
					color: $primary-color;
					margin: 0;
				}
			}
			.card-content{
				.top-grow-card{
					border-right: 1px solid $primary-border;
					.top-value-card{
						padding: 23px 30px;
						p{
							font-size: $size14 - 2;
							font-weight: 500;
							color: $secondary-color;
							line-height: 1.5;
							text-transform: uppercase;
							margin-bottom: 9px;
						}
						.value-percent{
							display: flex;align-items: center;
							.value{
								font-size: $size24;
								font-weight: 500;
								line-height: 1.83;
								color: $primary-color;
								margin-right: 7px;
							}
						}
					}
				}
				.card-inside-content{
					padding: 23px 30px;
					.interaction-graph{
						display: block;
						width: 100%;
					}
					.interaction-text{
						display: flex;
						justify-content: space-between;
						margin-bottom: 21px;
						align-items: center;
						.interaction-left{
							text-align: left;
							.int-title{
								font-size: $size14;
								line-height: 1.57;
								color: $primary-color;
								font-weight: 500;
							}
							p{
								font-size: $size14 - 2px;
								line-height: 1.5;
								font-weight: normal;
								color: $secondary-color;
								margin-bottom: 0;
							}
						}
						.interaction-right{
							.int-value{
								font-size: $size20;
								color: $primary-color;
								line-height: 1.5;
								font-weight: 500;
							}
						}
					}
				}
			}
		}
		.users-page{
			.select-input{
				&.before-icon{
					i{
						color: $secondary-color;
					}
				}
			}
		}
		.user-history{
			.user-head-card{
				padding: 28px 37px;
				.initial-circle {
				    width: 45px;
				    height: 45px;
				    border-radius: 100%;
				    overflow: hidden;
				    display: inline-flex;
				    justify-content: center;
				    align-items: center;
				    font-size: 18px;
				    line-height: 1.78;
				    background: radial-gradient(circle, rgba(255,168,98,1) 0%, rgba(255,195,139,1) 100%);
				    margin-right: 15px;
				    color: $white;
				}
				.user-name {
				    font-size: 18px;
				    font-weight: 500;
				    line-height: 1.78;
				    color: $primary-color;
				    margin: 0;
				}
				.user-email {
				    font-size: 13px;
				    line-height: 1.3;
				    margin: 0;
				    color: $secondary-color;
				}
				.icon-circle{
					width: 45px;
				    height: 45px;
				    border-radius: 100%;
				    overflow: hidden;
				    display: inline-flex;
				    justify-content: center;
				    align-items: center;
				    font-size: $size18;
				    line-height: 1.78;
				    border: 1px solid $primary-border;
				    margin-right: 15px;
				}
				.u-h-spending{
					font-size: $size14 - 2px;
					color: $secondary-color;
					line-height: 1.5;
					text-transform: uppercase;
					margin: 0;
				}
				.u-h-number{
					font-size: $size26;
					line-height: 1.69;
					color: $primary-color;
					margin: 0;
				}

			}
			.btn-search{min-width: 120px;}
		}
	}
}
.order-details{
	.oD-upload{
		width: 74px;
		height: 74px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	    background: $white;
	    border-radius: 9px;
	    border: 2px solid $primary-border;
	    position: relative;
	    color: $active-color;
	    margin: 5.5px;
	    .icon-upload{font-size: $size20;}
	    span{
	    	font-size: $size14 - 2px;
	    	line-height: 1.5;
	    	text-transform: uppercase;
	    	font-weight: 500;
	    }
	    input{
	    	position: absolute;
	    	left: 0;
	    	top: 0;
	    	width: 100%;
	    	height: 100%;
	    	opacity: 0;
	    }
	    .deleteFile {
		    position: absolute;
		    top: -10px;
		    right: -10px;
		    background: red;
		    width: 20px;
		    height: 20px;
		    border-radius: 100%;
		    color: white;
		    font-size: 10px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		}
		&.selected{
			border-color: $active-color;
		}
	}
	.od-p-u-details{
		.details{
			padding: 10px 20px;
			.non-edti-faint{
				font-size: $size14 - 1px;
				line-height: 1.85;
				color: $secondary-color;
			}
			a{
				display: block;
				font-weight: normal;
				line-height: 1.57;
				margin: 1px 0;
			}
			.cust-details{
				font-size: $size14;
				line-height: 1.45;
			}
		}
	}
}
.special-instruction{
	.ins-height{
		min-height: 60px;
		.instruction-name{
			font-size: 14px;
			font-weight: bold;
			line-height: 1.57
		}
		.instructionText{
			font-size: 14px;
			font-weight: normal;
			line-height: 1.43
		}
	}
}
.template-content{
	p{
		margin: 0;
		line-height: 1.8;
	}
}