
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: normal;
	background: $body-bg;
}
[class*="col-"] {padding: 0 10px;}
.primary{color: $active-color !important;}
.font-500{font-weight: 500;}
.font-bold{font-weight: bold;}
.font-normal{font-weight: normal;}
.order-search-bg{background: #f9fafb;}
.yellow-bg{background: #fefede;}
.orderD-id{
	font-size: $size24;
	font-weight: bold;
	line-height: 1.33;
	color: $primary-color;
	margin: 0;
}
a{
	&.underline-link{
		text-decoration: underline;
	}
}
.form-control{
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  	border: solid 1px #d8dce6;
  	border-radius: 4px;
  	-webkit-appearance: none;
  	font-size: $size14;
  	min-height: 38px;
  	&::placeholder{
  		opacity: 0.5;
  	}
}
.cust-form-group{
	label{
		font-size: 12px;
		line-height: 1.5;
		color: $secondary-color;
		text-transform: uppercase;
		font-weight: 500;
	}
}
.select-input{
	display: flex;
	position: relative;
	.form-control{
		padding-right: 30px;
		display: flex;
		align-items: center;
		color: $primary-color;
	}
	.has-sort{position: absolute;right: 5px;top: 50%;}
	i{
		font-size: $size20;margin-right: 11px;
	}
	&.before-icon{
		.form-control{
			padding-left: 40px;
		}
		i{
			position: absolute;
		    left: 12px;
		    top: 50%;
		    transform: translateY(-50%);
		}
	}
	&.no-sort{
		.form-control{
			padding-right:12px;
		}
	}
}
.percent-badge{
	width: 48px;
	height: 24px;
	display: flex;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
	background-color: $success;
	font-size: $size14 - 2px;
	line-height: 1.5;
	color: $white;
	font-weight: 500;
	&.danger-bg{
		background-color: $danger;
	}
}
.c-m-b-20{
	margin-bottom: 20px;
}
.search-bar{
	position: relative;
	min-width: 300px;
	input{
		border: 1px solid $primary-border;
		border-radius: 4px;
		box-shadow: inset 0 0px 2px 0 rgba(102, 113, 123, 0.21);
		padding-right: 52px;
		font-size: 14px;
		min-height: 38px;
	}
	.search-btn{
		position: absolute;
		width: 48px;
		height: 32px;
		top: 3px;
		right: 4px;
		border-radius: 2px;
	}
	.icon-only{
		position: absolute;
		width: 20px;
		height: 20px;
		top: 9px;
		right: 9px;
		color: $secondary-color;
		opacity: 0.5;
		font-size: 20px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
}
.action-icon{
	width: 40px;
	height: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	i{
		color: $secondary-color;
		opacity: 0.5;
		font-size: 20px;
	}
	&.act-edit{
		&:hover{
			i{
				color: $success;
				opacity: 1;
			}
		}
	}
	&.act-notes{
		&:hover{
			i{
				color: $purple;
				opacity: 1;
			}
		}
	}
	&.act-delete{
		&:hover{
			i{
				color: $danger;
				opacity: 1;
			}
		}
	}
	&.act-details{
		&:hover{
			i{
				color: $sky-blue;
				opacity: 1;
			}
		}
	}
	&.act-invoice{
		&:hover{
			i{
				color: $orange;
				opacity: 1;
			}
		}
	}
	&.act-link{
		&:hover{
			i{
				color: $purple;
				opacity: 1;
			}
		}
	}
	&.act-mail{
		&:hover{
			i{
				color: $darkblue;
				opacity: 1;
			}
		}
	}
}
.table-structure{
	font-size: 14px;
	line-height: 1.57;
	font-weight: normal;
	color: $primary-color;
	table{
		margin-bottom: 0;
		tr{
			td{
				border-top: none;
				border-bottom: 1px solid $primary-border;
				height: 46px;
				vertical-align: middle;
				padding-top: 0px;
				padding-bottom: 0px;
			}
			th{
				font-size: $size14 - 2px;
				color: $secondary-color;
				text-transform: uppercase;
				font-weight: 500;
				border-top: 0px;
				border-bottom: 2px solid $primary-border;
				.has-sort {
				    position: relative;
				    margin-left: 10px;
				    display: inline-flex;
				    width: 8px;
				    height: 10px;
				    justify-content: center;
				    align-items: center;
				}
			}
		}
		&.table-striped{
			tr{
				&:nth-of-type(odd) {
			    	background-color: #fafafa;
				}
			}
		}
		thead{
			tr{
				background: $white !important;
			}
		}
	}
	&.dash-table{
		table{
			margin-bottom: 0;
			tr{
				td{
					border-top: none;
					border-bottom: 1px solid $primary-border;
					padding: 0;
					height: 46px;
					vertical-align: middle;
					&:first-child{
						padding-left: 23px;
					}
					&:last-child{
						padding-right: 23px;
					}
				}
				th{
					font-size: $size14 - 2px;
					color: $secondary-color;
					text-transform: uppercase;
					font-weight: 500;
					border-top: 0px;
					border-bottom: 2px solid $primary-border;
					.has-sort {
					    position: relative;
					    margin-left: 10px;
					    display: inline-flex;
					    width: 8px;
					    height: 10px;
					    justify-content: center;
					    align-items: center;
					}
				}
			}
		}
	}
}
.pagination-panel{
	min-height: 80px;
	padding:12px;
}