$size14: 14px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
$size24: 24px;
$size26: 26px;
$size28: 28px;
$size30: 30px;

$primary-color: #3e3f42;
$active-color: #1665d8;

$secondary-color: #9ea0a5;

$primary-border: #eaedf3;
$active-border: #cbdcf5;

$white: #ffffff;
$danger: #e6492d;
$success: #34aa44;
$purple: #bc00eb;
$body-bg: #f1f4f8;
$sky-blue: #0099ff;
$orange: #ff6d00;
$darkblue: #1665d8;

$green-light: #1fbc00;