<template>
  <div class="row">
   <div class="col-lg-8 m-auto">
      <card :title="$t('login')">
         <form @submit.prevent="login" @keydown="form.onKeydown($event)">
            <div class="form-group row">
               <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
               <div class="col-md-7">
                  <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
                  <has-error :form="form" field="email" />
               </div>
            </div>
            <div class="form-group row">
               <label class="col-md-3 col-form-label text-md-right">{{ $t('password') }}</label>
               <div class="col-md-7">
                  <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
                  <has-error :form="form" field="password" />
               </div>
            </div>
            <div class="form-group row">
               <div class="col-md-3" />
                  <div class="col-md-7 d-flex">  
                  </div>
               </div>
               <div class="form-group row">
                  <div class="col-md-7 offset-md-3 d-flex">
                     <v-button :loading="form.busy">
                        {{ $t('login') }}
                     </v-button>
                     <login-with-github />
                  </div>
               </div>
         </form>
      </card>
    </div>
  </div>
</template>

<script>
import Form from 'vform'
import Cookies from 'js-cookie'
import LoginWithGithub from '~/components/LoginWithGithub'

export default {
  components: {
    LoginWithGithub
  },

  middleware: 'guest',

  metaInfo () {
    return { title: this.$t('login') }
  },

  data: () => ({
    form: new Form({
      email: '',
      password: ''
    }),
    remember: false
  }),

  methods: {
    async login () {
      const { data } = await this.form.post('/api/login')

      this.$store.dispatch('auth/saveToken', {
        token: data.token,
        remember: this.remember
      })

      await this.$store.dispatch('auth/fetchUser')

      this.redirect()
    },

    redirect () {
      const intendedUrl = Cookies.get('intended_url')

      if (intendedUrl) {
        Cookies.remove('intended_url')
        this.$router.push({ path: intendedUrl })
      } else {
        this.$router.push({ name: 'dashboard' })
      }
    }
  }
}
</script>
