<template>


  <div class="page-header page-header-light">
    <nav class="navbar navbar-light">
      <router-link v-if="headerData.parent_route" :to="{ name: headerData.parent_route }" class="navbar-brand page-name"> {{ headerData.parent_title }}
        <span class="sub-page-name" v-if="headerData.child_title">/ {{ headerData.child_title }}</span>
      </router-link>
      <span v-else class="navbar-brand page-name">{{headerData.parent_title}}</span>


      <div class="ml-auto d-flex">

        <div class="nav-right-links pl-4">
          <ul class="pl-0 mb-0 d-flex align-items-center">
            
             <li v-if="user" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark"
               href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            >
              
              {{ user.first_name }}
            </a>
            <div class="dropdown-menu">
              

              <div class="dropdown-divider" />
              <a href="#" class="dropdown-item pl-3" @click.prevent="logout">
                <fa icon="sign-out-alt" fixed-width />
                {{ $t('logout') }}
              </a>
            </div>
          </li>
          </ul>


        </div>
      </div>
    </nav>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  props: ["headerData"],
  data() {
    return {
      orderid: "" //(localStorage.getItem('orderid')!='') ?  localStorage.getItem('orderid') : "",
    };
  },
  mounted() {
    this.orderid =
      localStorage.getItem("orderid") != ""
        ? localStorage.getItem("orderid")
        : "";
    if (this.orderid == null) this.orderid = "";
    localStorage.setItem("orderid", this.orderid);
  },
  computed: {
    ...mapGetters("auth", ["user"])
  },
  methods: {
    enterClicked() {
      localStorage.removeItem("order_search_data");
      //this.goToOrder();
      localStorage.setItem("orderid", this.orderid);
      this.$router.push({ name: "orders" });
    },
    async logout() {
      // Log out the user.
      await this.$store.dispatch("auth/logout");
      // Redirect to login.
      this.$router.push({ name: "login" });
    },
    trigger() {
      localStorage.removeItem("order_search_data");
      this.$refs.sendReply.click();
    },
    resetOrderId() {
      this.orderid = "";
      localStorage.removeItem("orderid");
      // this.$refs.sendReply.click();
      //this.$router.push({ name: "orders"});
      //this.goToOrder()
      //this.$router.push({ name: "orders"});
    },
    goToOrder() {
      localStorage.setItem("orderid", this.orderid);
      this.$router.push({ name: "orders" });
    }
  }
};
</script>
