<template>
   <div>
      <page-header v-bind:headerData="headerData"></page-header>
      <div class="content">
         <div class="row users-page">
            <div class="col-md-12 c-m-b-20">
               <div class="card">
                  <div class="card-header-content d-flex justify-content-between align-items-center">
                     <div class="card-title">Update User</div>
                  </div>
                  <div class="container">
                     <br>
                     <form @submit.prevent="submitFormData">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label>First Name</label>
                                 <input type="text" class="form-control" placeholder="Enter First Name" v-model="formData.first_name" v-bind:class="{'is-invalid':(ajax_error.errors.first_name)}">
                                 <span class="help-block invalid-feedback" v-if="ajax_error.errors.first_name">{{ ajax_error.errors.first_name[0] }}
                                 </span>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label>Last Name</label>
                                 <input type="text" class="form-control" placeholder="Enter Last Name" v-model="formData.last_name" v-bind:class="{'is-invalid':(ajax_error.errors.last_name)}">
                                 <span class="help-block invalid-feedback" v-if="ajax_error.errors.last_name">{{ ajax_error.errors.last_name[0] }}
                                 </span>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label>User Name</label>
                                 <input type="text" class="form-control" placeholder="Enter User Name" v-model="formData.user_name" v-bind:class="{'is-invalid':(ajax_error.errors.user_name)}">
                                 <span class="help-block invalid-feedback" v-if="ajax_error.errors.user_name">{{ ajax_error.errors.user_name[0] }}
                                 </span>
                              </div>
                           </div>
                           <!-- <div class="col-md-3">
                              <div class="form-group">
                                 <label>Select Role Type</label>
                                 <div class="select-input">
                                    <span class="has-sort"></span>
                                    <select class="form-control select-sort" v-model="formData.role_type" v-bind:class="{'is-invalid':(ajax_error.errors.role_type)}">
                                       <option>- Select Role -</option>
                                       <option v-for="type in result.mainData" :value="type.id">
                                          {{ type.title }}
                                       </option>
                                       <span class="help-block invalid-feedback" v-if="ajax_error.errors.role_type">{{ajax_error.errors.role_type[0] }}</span>
                                    </select>
                                 </div>
                              </div>
                           </div> -->
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label>Email Id</label>
                                 <input type="text" class="form-control" placeholder="Enter Email Id" v-model="formData.email" v-bind:class="{'is-invalid':(ajax_error.errors.email)}">
                                 <span class="help-block invalid-feedback" v-if="ajax_error.errors.email">{{ajax_error.errors.email[0] }}</span>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label>Password</label>
                                 <input type="password" class="form-control" placeholder="Enter Password" v-model="formData.pass_word" v-bind:class="{'is-invalid':(ajax_error.errors.pass_word)}">
                                 <span class="help-block invalid-feedback" v-if="ajax_error.errors.pass_word">{{ajax_error.errors.pass_word[0] }}</span>
                              </div>
                           </div>
                           <div class="col-md-12 px-100 form-group d-flex align-items-end">
                              <button class="btn btn-success d-flex align-items-center btn-search mr-2">Submit</button>
                              <router-link :to="{ name: 'users' }" class="btn btn-light d-flex align-items-center">Back</router-link>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</template>
<script>
   import { mapGetters, mapActions } from "vuex";
   import Vue from 'vue';
   import Vuex from 'vuex';
   import PageHeader from "~/components/PageHeader.vue";
   import Form from "vform";
   import Toast from "vue-toastification";
   import "vue-toastification/dist/index.css";
   Vue.use(Toast);
   
   export default {
     components: {
       "page-header": PageHeader
     },
     data() {
       return {
         headerData: {parent_title:"Users"},
         formData     : new Form({ id: "",first_name:'',last_name:'',user_name:'',email: '',pass_word :'',password_confirmation:'',role_type:''}),
       };
     },
     created() {
         this.resetForm();
       this.getAddFormData();
       if(this.$route.params.id != ''){
         this.getUserFromData(this.$route.params.id);
       }
     },
     computed: {
       ...mapGetters("Admin/Users/Index", ["result","returnData","editData","ajax_error"]),
     },
     methods: {
       ...mapActions("Admin/Users/Index", ["getAddFormData","submitForm","getUserData"]),
   
       submitFormData() {
         this.submitForm({'id':this.$route.params.id,'formData':this.formData})
         .then(() => {
             if (this.returnData.status == "success") {
                 this.resetForm();
                 this.$router.push({name:"users"});
                  // this.$toast(this.returnData.message, {
                  //    type:this.returnData.status,
                  //    timeout: 4000,
                  //    hideProgressBar: false,
                  //  }); 
             } 
         })
         .catch(error => {
            window.scrollTo(0,0);      
         });
       },
   
       resetForm(){
         this.ajax_error.errors                = [];
       },
        getUserFromData(id){
         this.getUserData(id).then(() => {
           this.formData.keys().forEach(key => {
               if(this.editData.result[key]){
                 this.formData[key] = this.editData.result[key];
               }
           });
         });
       },
     }
   };
</script>