<template>
   <div>
      <page-header v-bind:headerData="headerData"></page-header>
      <div class="content">
         <div class="row users-page">
            <div class="col-md-12 c-m-b-20">
               <div class="card">
                  <div class="card-header-content d-flex justify-content-between align-items-center">
                     <div class="card-title">Users List</div>
                     <div class="card-tool d-flex">
                        <router-link :to="{ name: 'add_user' }" class="btn btn-primary btn-primary-light">Add New User</router-link>
                     </div>
                  </div>
                  <div class="card-content">
                     <div class="row mx-0">
                        <div class="col-md-12 p-0">
                           <div class="table-structure table-responsive">
                              <table v-if="result" class="table table-striped">
                                 <thead>
                                    <tr>
                                       <th>#</th>
                                       <th>First name</th>
                                       <th>Last name</th>
                                       <th>User name</th>
                                       <th>Email</th>
                                       <!-- <th>Role Type</th> -->
                                       <th>Action</th>
                                    </tr>
                                 </thead>
                                 <tbody v-if="result.mainData">
                                    <tr v-if="result.mainData.data" v-for="(row, index) in result.mainData.data">
                                       <td>{{ result.mainData.from + index }}</td>
                                       <td><a href="javascript:void(0);" class="font-500">{{row.first_name}}</a></td>
                                       <td><a href="javascript:void(0);" class="font-500">{{row.last_name}}</a></td>
                                       <td><a href="javascript:void(0);" class="font-500">{{row.user_name}}</a></td>
                                       <td><a href="javascript:void(0);" class="font-500">{{row.email}}</a></td>
                                       <!-- <td><a href="javascript:void(0);" class="font-500">{{row.role_name}}</a></td> -->
                                       <td>
                                          <router-link :to="{ name: 'edit_user',params: { id: row.id } }" class="action-icon act-edit"><i class="icon-user-edit"></i></router-link>
                                          <a v-if="row.id != 1" href="javascript:void(0);" class="action-icon act-delete"  @click="deleteUserData(row.id)"><i class="icon-user-delete"></i></a>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>
<script>
   import { mapGetters, mapActions } from "vuex";
   import Vue from 'vue';
   import Vuex from 'vuex';
   import PageHeader from "~/components/PageHeader.vue";
   import VueSimpleAlert from "vue-simple-alert";
   import { SweetAlertOptions, SweetAlertResult } from "sweetalert2";
   Vue.use(VueSimpleAlert);
   var Paginate = require('vuejs-paginate')
   Vue.component('paginate', Paginate)
   import Toast from "vue-toastification";
   import "vue-toastification/dist/index.css";
   Vue.use(Toast);
   
   export default {
     components: {
       "page-header": PageHeader
     },
     data() {
       return {
         keyword: "",
         keyEvent: "",
         isAlert: true,
         keyword_search_flag: 0,
         keyword_search_current_time: 0,
         interval_id: 0,
         last_keyword: "",
         headerData: {parent_title:"Users"}
       };
     },
     created() {
       this.list_page();
     },
     computed: {
       page() {
         var page = 1;
         if (this.$route.params.page != undefined) page = this.$route.params.page;
         localStorage.setItem("search_page", page);
         localStorage.setItem("search_keyword", this.keyword);
         return Number(page);
       },
       ...mapGetters("Admin/Users/Index", ["result","returnData"]),
       
     },
     methods: {
       ...mapActions("Admin/Users/Index", ["list","deleteUser"]),
   
       deleteUserData(id) {
             this.deleteUser({ id: id })
             .then(() => {
               if (this.returnData.status == 'success') {
                this.list_page(); 
               } 
             });
       },
   
   
          list_page() {
           var page = 1;
           if (this.$route.params.page != undefined) page = this.$route.params.page;
             this.list({page: page,keyword: this.keyword});
         },
     }
   };
</script>