<template>
   <div>
      <page-header v-bind:headerData="headerData"></page-header>
      <div class="content">
         <div class="row">
            <div class="col-md-12 c-m-b-20">
               <div class="card">
                  <div class="card-header-content d-flex justify-content-between align-items-center">
                     <div class="card-title">Welcome! You are logged in.</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
import { mapGetters } from 'vuex'
import PageHeader from "~/components/PageHeader.vue";
export default {

  components: {
       "page-header"  : PageHeader,
      },

  middleware: 'auth',
      data() {
      return {
         headerData     :  {parent_title:"Dashboard"}
       }
     },
  metaInfo () {
    return { title: this.$t('home') }
  },
  computed: mapGetters({
    user: 'auth/user'

  }),
  methods: {
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    }
  }
}
</script>
