<template>
   <div class="row mx-0">
      <div class="left-panel">
         <div class="logo-space d-flex align-items-center">
            
            <span class="brand-name">Basic Setup</span>
         </div>
         <div class="left-menu-content">
            <ul class="p-0">
               <li v-for="(tab, i) in tabs" class="menu-item" @click="toggle_menu($event, i)">
                  <router-link :to="{ name: tab.root_name }" v-bind:class="{ active : isActive == tab.slug}" @click.native="checkActive(tab.slug)">
                     <i :class="'icon-left-'+tab.icon"></i>
                     <span @click="forceRerender(tab.root_name)">{{tab.title}}</span>
                  </router-link>
                  <span v-if="tab.child" class="has-sort"></span>
                  <ul class="collapser" :id="'collapser_'+tab.slug" v-if="tab.child">
                     <li v-for="child in tab.child" :key="child.root_name" >
                        <router-link :to="{ name: child.root_name }">
                           {{child.title}}
                        </router-link>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
      <div class="right-panel">
         <transition name="fade" mode="out-in">
            <router-view :key="componentKey" />
         </transition>
      </div>
   </div>
</template>
<script async>
   import { mapGetters, mapActions } from "vuex";
   
   export default {
     components: {
     },
     middleware: "auth",
     data: () => ({
       selTabs: "dashboard",
       componentKey: 0,
       isActive: "dashboard",
     }),
     created() {
       this.selTabs = this.$router.currentRoute.name;
       this.getLeftMenus();
       this.route_name = this.$router.currentRoute.name;
       this.isActive   = this.route_name;
     },
     watch: {
       $route: function (from, to) {
         this.selTabs = this.$router.currentRoute.name;
       },
     },
     computed: {
       ...mapGetters("auth", ["user"]),
       ...mapGetters("Admin/LeftMenus", ["tabs"]),
   
     },
     methods: { 
      ...mapActions("Admin/LeftMenus", ["getLeftMenus"]),
       
       toggle_menu(event, i){
         event.preventDefault();
         event.stopPropagation();
         $(event.target).parent(".menu-item").children("ul").slideToggle("slow");
         $(event).toggleClass('nav-item-open');
       },
   
       forceRerender(name) {
         var route_name = this.$route.name;
         if (route_name.indexOf(name) >= 0) {
           this.componentKey += 1;
           if (this.componentKey == 3) this.componentKey = 1;
         } else {
           // console.log("error");
         }
       },
       checkActive(refName) {
          this.isActive = refName;
        },
     },
   };
   
</script>